/**********************************************************************************************
*
*   *   *   *   *   *   *   *   *     MY CODE     *   *   *   *   *   *   *   *   *   *   *   *   *
*
************************************************************************************************/
@import url('fonts/Montserrat/Montserrat-Bold.ttf');
@import url('fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
@import url('fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
@import url('fonts/Montserrat/Montserrat-Medium.ttf');
@import url('fonts/Montserrat/Montserrat-Regular.ttf');
@import url('fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');


.head{
    background-color: black;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    .menu{
      padding-top: 75px;
      .link{
        display: flex;
        justify-content: space-between;
        a{
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          font-family: 'OpenSans-SemiBold';
        }
        a:hover{
          color: #39A935;
        }
      }
    }
}

.down-chevron{
  padding-top: 2px;
  padding-left: 12px;
  height: 10px;
}
.btn-search{
  height: 22.45px;
}
.head-title{
  font-family: 'Montserrat-Bold';
  font-size: 38px;
  color: #E30613;
  margin-top: 210px;
}
.head-subtitle{
  font-family: 'Montserrat-Medium';
  font-size: 28px;
  text-transform: uppercase;
}
.under-slide{
  // filter: blur(14px);
  // position: relative;
  background-image: url(img/under-slide.png);
  height: 695.5px;
  background-size: cover;
  background-position: center;
  

}
.slide{
  height: 300px;
  // background-color: #fff;
  // opacity: 0.5;
  // backdrop-filter:blur(8px);
  position: relative;
  // top: -470px;
  top: 30%;
  // width: 100%;
  color: #fff;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}
.nom-expo{
  font-family: 'Montserrat-Bold';
  // font-size: 38px;
  font-size: 28px;
  margin-top: 3rem;
}
.date-expo{
  font-family: 'Montserrat-Medium';
  // font-size: 38px;
  font-size: 28px;
}
.artiste{
  font-family: 'Montserrat-Regular';
  // font-size: 30px;
  font-size: 20px;
}
.btn-decouv{
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  border: 2px solid white;
  padding: 20px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 3rem;
}
.btn-decouv:hover{
  background-color: #fff;
  transition: 0.5s;
  color: black;
}
.actu{
  color: #39A935;
  font-size: 38px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}
.actu-title{
  font-family: 'Montserrat-Bold';
  font-size: 28px;
  text-transform: uppercase;
}
.btn-savoirplus{
  padding: 15px;
  background-color: #E30613;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.btn-savoirplus:hover{
  background-color: #dd0614;
  color: #fff;
}
.actu-text{
  font-family: 'OpenSans-Regular';
  font-size: 16px;
}
.btn-slide-prev{
  color: #fff;
  background-color: #000;
  width: auto;
  height: 100px;
  margin: auto; 
}
.btn-slide-next{
  color: #fff;
  background-color: #000;
  width: auto;
  height: 100px;
  margin: auto; 
}
.mt-7{margin-top:5rem}
.mt-9{margin-top:7rem}
.mt-11{margin-top:9rem}
.mt-13{margin-top:11rem}
.mt-15{margin-top:13rem}

.ms-7{margin-left:5rem}
.ms-9{margin-left:7rem}
.ms-11{margin-left:9rem}
.ms-13{margin-left:11rem}
.ms-15{margin-left:13rem}
.ms-17{margin-left:15rem}
.ms-19{margin-left:17rem}
.ms-21{margin-left:19rem}


.actualites{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "tof1 text1"
    "text2 tof2"
    "tof3 text3"
    "text4 tof4";
  p{
    text-align: justify;
    max-width: 600px;
  }
}
.btn-voirplus{
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  border: 2px solid #39A935;
  padding: 10px 100px;
  display: inline-block;
  border-radius: 50px;
}
.btn-voirplus:hover{
  background-color: #39A935;
  transition: 0.5s;
  color: #fff;
}
.photo-galerie{
  background-image: url(img/photo-galerie.png);
  background-size: cover;
  background-position: center;
  padding: 0;
  // height: auto;
  // height: 700px;
}
.photo-galerie-right{
  background-color: #000;
  padding: 0;
}
.ombre{
  font-family: 'Montserrat-Bold';
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(5px);
  margin-top: 330px;
}
.pgr-title{
  color: #E30613;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
  font-weight: bold;
  margin-top: 9rem;
}
.pgr-contenu{
  // max-width: 600px;
}
.info-title{
  color: #E30613;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  font-weight: bold;
}
.infos{
  display: flex;
  justify-content: space-between;
  font-family: 'OpenSans-SemiBold';
  font-size: 16px;
  color: #fff;
}
.labo5-title{
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
  font-weight: bold;
}
.labo5-write{
  color: #E30613;
}
.labo5-text{
  font-family: 'OpenSans-Regular';
  font-size: 20px;
}
.labo5-savoirplus{
  font-family: 'OpenSans-Bold';
  font-size: 18px;
  font-weight: bold;
}
.labo5-fb{
  margin-right: 10px;
  text-decoration: none;
}
.labo5-insta{
  margin-right: 10px;
  text-decoration: none;
}
.labo5-logo{
  margin-left: 7rem;
}
.footer{
  background-color: #39A935;
  padding-bottom: 3rem;
  margin-top: 7rem;
}
.footer-content{
  color: #fff;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  display: grid;
  padding-top: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  // grid-template-areas:
  //   "logo menu1 menu2 suiveznous"
  //   "contact adresse newsletter"
  //   "copyright"
  // ;
  // grid-row-gap: 3rem ;
}
.footer-logo{
  // grid-area: logo;
}
.contact{
  // margin-top: 3rem;
  grid-row-start: 2;
  // grid-area: contact;
}
.copyright{
  grid-row-start: 3;
  // grid-area: copyright;
}
.footer-menu3link{
  grid-column-start: 2;
  // grid-area: menu1;
}
.footer-menu2link{
  grid-column-start: 3;
  // grid-area: menu2;
}
.adresse{
  grid-column-start: 2;
  grid-row-start: 2;
  // grid-area: adresse;
}
.footer-suiveznouslogo{
  grid-column-start: 4;
  // grid-area: suiveznous;
}
.footer-newsletter{
  grid-column-start: 4;
  grid-row-start: 2;
  // grid-area: newsletter;
}
.footer-firstpart{
  display: flex;
  justify-content: space-between;
  // max-width: 700px;
}
.footer-title{
  font-size: 18px;
  font-weight: bold;
}
.footer-suiveznous{
  font-weight: bold;
  font-family: 'OpenSans-Bold';
  font-size: 18px;
}
.footer-input{
  border: 1px solid #fff;
  background-color: #39A935;
  // width: 100%;
  // height: 35px;
  // display: block;
  border-radius: 5px;
}
.footer-input:focus{
  background-color: #39A935;
  // border: 3px solid #fff;
  transition: 0.5s;
}
.footer-input::placeholder{
  color: #fff;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
}
.btn-abonnement{
  padding: 10px 30px;
  background-color: #E30613;
  color: #fff;
  text-transform: uppercase;
  border-radius: 7px;
  text-decoration: none;
  font-family: 'OpenSans-Bold';
  font-size: 15px;
  border: 1px solid #fff;
}
.btn-abonnement:hover{
  color: #fff;
}
.footer-link{
  text-decoration: none;
  color: inherit;
  font-weight:normal;
  font-family: 'OpenSans-SemiBold';
}
.bootstrap-navbar{
  background-color: #000;
}
.bootstrap-navbar a{
          color: #fff!important;
          // text-decoration: none;
          font-size: 16px;
          font-family: 'OpenSans-SemiBold';
}
.bootstrap-navbar a:hover{
    color: #39A935!important;
}
.nav-link-space{
  margin-left: 5px;
}
.search-btn{
  display: none;
}
@media screen and (max-width: 991.40px) {
  .search-btn{
    display: inline-block;
  }
  .search-btn-link{
    display: none;
  }
}

/*new header responsive*/
  header{
    background-color: black;
    color: #fff;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navigation{
    float: right;
    margin: auto 0;
}
.navigation-responsive{
    display: none;
}
.navigation li{
    display: inline-block;
    margin-left: 10px;
}
.navigation>li{
    margin-left: 45px;
}
.block-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-family: 'OpenSans-SemiBold';

}
nav ul a:hover{
    color: #39A935;
}
.head-icons{
    margin-left: 35px;
}
.down-chevron {
  padding-top: 2px;
  padding-left: 12px;
  height: 10px;
}
nav #icon_menu{
    cursor: pointer;
    /* display: none; */
}
nav #icon_search{
    cursor: pointer;
    /* display: none; */
}
.icons_head{
    display: none;
}
.actualites{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "tof1 text1"
  "text2 tof2"
  "tof3 text3"
  "text4 tof4";
  grid-row-gap: 5rem;
  margin-top: 7rem;
}
.tof1{
  grid-area: tof1;
}
.text1{
  grid-area: text1;
  margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.tof2{
  grid-area: tof2;
}
.text2{
  grid-area: text2;
  margin-right: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.tof3{
  grid-area: tof3;
}
.text3{
  grid-area: text3;
  margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.tof4{
  grid-area: tof4;
}
.text4{
  grid-area: text4;
  margin-right: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.desc{
  height: 700px;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.labo-5-container{
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 6fr 5fr;
}
.labo5-desc{

}
.top{
  display: none;
}
@media screen and (min-width: 1200px) {
    .pgr-contenu{
    max-width: 600px;
  }

}